@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@500;700;900;&display=swap');

* {
	margin: 0;
	font-size: 1em;
	background-image: url('');
}

/* body {
	background-image: url('http://www.w3.org/2000/svg" width="1440" height="437"><path fill="#D6E1FF" fill-rule="evenodd" d="M0 349.974c218.558 116.035 460.05 116.035 724.475 0s502.933-116.035 715.525 0V0H0v349.974z"/></svg>');
	width: 35.12em;
	margin-left: 10em;
	border-radius: #fff;
	background-color: rgb(214, 208, 208);
} */

.hero_order {
	margin: auto;
	margin-top: 2em;
	width: 50%;
}

.img1 img {
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
}

.payment {
	background-color: hsl(223, 47%, 23%);
	color: #fff;
	border-radius: 1.2em;
	border: none;
	cursor: pointer;
}

.hero_order {
	margin-left: 0.25em;
	background-color: #fff;
	border-radius: 2em;
}

.Order {
	padding-left: 3em;
	font-size: 2em;
}

.Plan {
	/* top | right | bottom | left */
	padding: 1em 2em 1.2em 4em;
}

.Music {
	padding-left: 2em;
	font-size: 1em;
	color: hsl(224, 23%, 55%);
}

.planPrice {
	color: hsl(225, 100%, 98%);
	font-weight: bolder;
	cursor: pointer;
}

.planAnnualPrice {
	color: hsl(224, 23%, 55%);
	/* top | right | bottom | left */
	margin: 0.25em 2em 1em 4em;
}

.planAnnual {
	font-weight: bolder;
	margin-left: 1em;
}

.payment {
	width: 33em;
	height: 3em;
	margin: 2em 4em;
	vertical-align: middle;
	font-weight: 800;
}

.cancelOrder {
	border: none;
	color: hsl(223, 47%, 23%);
	cursor: pointer;
	text-align: center;
	padding-bottom: 3em;
	font-weight: 800;
}

.change {
	text-decoration: underline;
	color: hsl(245, 75%, 52%);
	/* top | right | bottom | left */
	margin: 5em 2em 3em 4em;
	cursor: pointer;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
