@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@500;700;900;&display=swap');

body {
	font-size: 16px;
	background-image: url('"http://www.w3.org/2000/svg" width="1440" height="437"><path fill="#D6E1FF" fill-rule="evenodd" d="M0 349.974c218.558 116.035 460.05 116.035 724.475 0s502.933-116.035 715.525 0V0H0v349.974z"/></svg>');
}

.payment {
	/* top | right | bottom | left */
	padding: 1em 2em 1.2em 2em;
	background-color: hsl(223, 47%, 23%);
	color: #fff;
	border-radius: 1.2em;
	border: none;
}

.planPrice {
	color: hsl(225, 100%, 98%);
}

.change {
	text-decoration: underline;
	color: hsl(223, 47%, 23%);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
